* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px;
  display: flex;
}


.container {
  z-index: 19;
}

.App > div {
  margin-right: 50px;
}



.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-Done {
  opacity: .5;
}

.app__inner {
  display: flex;
  flex-direction: row;
}