* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px;
  display: flex;
  background-image: url("./bgTodo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  color: white;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 9;
}

.container {
  z-index: 19;
}

.App > div {
  margin-right: 50px;
}

